/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Clearfix */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

* {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

ul {
    list-style: none
}

html,
body {
    height: 100%
}

#wrap {
    min-height: 100%;
}

/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px
}

body {
    color: #434343;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    text-decoration: none;
    width: 100%;
    font-size: 12px
}

a {
    border: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

hr {
    height: 1px;
    border: none;
    color: #ccc;
    background-color: #ccc;
}

/* Header */
#header {
    left: 0;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 999
}

a {
    color: #434343;
}

a:hover {
    color: #999;
}

#head_wrap {
    margin: 0 auto;
    width: 100%
}

#head_wrap a {
    color: #333
}

#head_wrap a:hover {
    color: #999
}

.head_left {
    position: relative;
    float: left;
    top: 12px;
    width: 235px;
    height: 68px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    font-size: 13px;
    margin-left: 20px
}

.head_right {
    position: relative;
    text-align: right;
    float: right;
    top: 13px;
    height: 68px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    font-size: 12px
}

#logout {
    float: right;
    padding-right: 20px
}

#logout img {
    margin-top: 2px
}

#state {
    float: right;
    padding-right: 20px
}

#cmsite {
    float: right;
    padding-right: 20px;
    margin-top: 9px
}

#state span,
#logout span {
    position: relative;
    padding-left: 5px;
    float: right;
    top: 8px
}

#state img {
    position: relative;
    float: left;
    border: 1px solid #bbb;
    z-index: 999;
    width: 20px;
    height: 20px;
    margin-top: 3px
}

#navigator {
    clear: both;
    float: left
}

#navigator ul {
    margin-left: 40px;
    width: 800px;
    height: 30px;
    margin-top: 26px
}

#navigator ul li {
    font-size: 16px;
    float: left;
    margin-right: 80px;
    color: #000;
    display: block
}

#navigator ul li:hover {
    cursor: pointer;
    color: #999
}

#navigator ul li:last-child {
    margin-right: 0
}

#main_banner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 254px;
    background-image: url(../images/main_teaser.jpg);
    background-position: 50% 0
}

#login_content {
    position: relative;
    overflow: auto;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 2px;
    width: 1000px;
    background: url(../images/content_bg.jpg) no-repeat;
    padding-bottom: 40px
}

#main {
    position: relative;
    overflow: auto;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 2px;
    width: 1000px;
    background: url(../images/content_bg2.jpg) repeat-x;
    padding-bottom: 40px
}

#main_table {
    position: relative;
    overflow: hidden;
    min-height: 420px;
    margin: 0 auto;
    margin-top: 2px;
    background: url(../images/content_bg.jpg) repeat-x;
    background-position: -180px 0;
    padding-bottom: 140px
}

#div_fm {
    margin: 0 auto;
    width: 900px;
    padding: 30px 30px 20px;
    line-height: 1.6em
}

#top_link {
    padding-bottom: 15px
}

ul.nav {
    float: right;
    margin-top: 5px;
    padding: 0 10px
}

ul.nav select {
    width: 180px;
    padding-left: 5px
}

ul.nav li {
    border: 1px solid #ccc
}

.nav select {
    position: relative;
    height: 25px
}

h1.cm_acc {
    clear: both;
    margin-top: 20px
}

#login_content_left {
    width: 400px;
    float: left
}

#login_content_left h1 {
    position: relative;
    margin-left: 80px;
    margin-top: 70px;
    font-size: 24px;
    color: #434343
}

#login_content_left ul {
    position: relative;
    margin-left: 80px;
    margin-top: 15px
}

#login_content_left ul li {
    line-height: 45px
}

#login_content_left ul li span {
    position: relative;
    margin-right: 10px;
    top: 6px
}

#login_content_right {
    width: 600px;
    float: right;
    padding-top: 40px;
    padding-left: 75px
}

#login_content_right h1 {
    clear: both;
    font-size: 14px;
    padding: 15px 0;
    color: #434343
}

#login_content_right ul li {
    float: left;
    margin-right: 10px
}

#login_content_main {
    position: relative;
    overflow: auto;
    min-height: 420px;
    margin: 0 auto;
    width: 600px;
    padding-top: 40px;
    padding-left: 75px
}

#login_content_main h1 {
    clear: both;
    font-size: 14px;
    padding: 15px 0;
    color: #434343
}

#login_content_main ul li {
    float: left;
    margin-right: 10px
}

#login_content_right li:hover {
    cursor: pointer;
    background-position: 0 -32px
}

input[type="text"],
input[type="password"] {
    width: 425px;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0)
}

select {
    width: 230px;
    height: 30px;
    padding-left: 10px;
    background: url(../images/select.png)
}

hr {
    margin-top: 10px;
    margin-bottom: 10px
}

textarea {
    width: 300px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
    border: 1px solid #ccc;
    padding: 10px;
    height: 150px
}

#main input[type="button"] {
    width: 250px;
    margin-right: 20px
}

#main input[type="text"],
input[type="password"] {
    height: 30px;
    width: 230px;
}

#login_content_right input[type="button"] {
    width: 270px;
    margin-right: 20px
}

#login_content_right input[type="checkbox"] {
    position: relative;
    top: 3px;
    margin-right: 5px;
    padding-top: 3px
}

.link {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin: 0 0 1.25em;
    text-align: center;
    display: inline-block;
    padding: 9px 10px;
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
    border-color: #555;
    color: #333;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    font-size: 12px
}

.link2 {
    color: #ccc;
    border: 1px solid #ccc
}

.link:hover {
    background: #efefef;
    background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 239, 239, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff', GradientType=0);
    border-color: #999;
    color: #999;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset
}

.link2:hover {
    color: #ccc;
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(239, 239, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    font-size: 12px;
    border: 1px solid #ccc;
    cursor: default
}

.adjust_padding {
    padding-top: 5px
}

.rma_product_right {
    padding-top: 20px;
    float: right;
    width: 180px;
    text-align: center;
    margin-right: 70px
}

#rma_table {
    margin-top: 20px
}

#rma_table dl {
    float: left;
    margin-right: 3px
}

#rma_table dl dt {
    width: 145px;
    background: #333;
    color: #fff;
    float: left;
    padding: 10px;
    font-weight: 700;
    text-align: center
}

#rma_table dl:nth-child(2) dt {
    width: 170px
}

#rma_table dl:nth-child(4) dt {
    width: 180px
}

#rma_table dl:nth-child(4) dd {
    width: 180px;
    text-align: left;
    padding-left: 25px
}

#rma_table dl dd {
    clear: both;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2
}

#rma_table dl dd:nth-child(odd) {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc
}

#rma_table2 {
    margin-top: 20px
}

#rma_table2 dl {
    float: left;
    margin-right: 3px
}

#rma_table2 dl dt {
    width: 145px;
    background: #333;
    color: #fff;
    float: left;
    padding: 10px;
    font-weight: 700;
    text-align: center
}

#rma_table2 dl dt:first-child {
    width: 250px
}

#rma_table2 dl:nth-child(2) dt {
    width: 170px
}

#rma_table2 dl:nth-child(3) dt {
    width: 150px
}

#rma_table2 dl:nth-child(4) dt {
    width: 130px
}

#rma_table dl:nth-child(4) dd {
    width: 130px;
    text-align: left;
    padding-left: 25px
}

#rma_table2 dl dd {
    clear: both;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2
}

#rma_table2 dl dd:nth-child(odd) {
    background: #f2f2f2;
    border-bottom: 1px solid #ccc
}

.view_prev {
    clear: both
}

.view_prev a {
    font-weight: 700;
    text-decoration: underline
}

#rma_table img {
    margin-right: 10px
}

#mousefollow-examples div {
    background-color: #EEE;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0
}

.none ul,
.none li {
    margin: 0;
    padding: 0
}

#regular_product,
#non_serial {
    padding: 30px 0 0 30px
}

#regular_product dt,
#non_serial dt {
    padding: 5px;
    font-weight: 700;
    margin-top: 10px
}

#regular_product input[type=text],
#non_serial input[type=text] {
    width: 350px;
    height: 35px
}

.none_serial {
    padding: 15px 30px;
    width: 580px;
    background: #f2f2f2;
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
    line-height: 1.7em
}

.none_serial h3 {
    font-weight: 700
}

#rma_processing {
    padding: 30px 0 0 30px
}

#rma_processing dt {
    font-weight: 700;
    margin-top: 10px
}

#rma_processing input[type=text] {
    width: 350px;
    height: 35px
}

.rma_result {
    padding: 15px 30px;
    width: 580px;
    background: #f2f2f2;
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
    line-height: 1.7em
}

.rma_result h3 {
    font-weight: 700
}

/*-------------------------------------------------------------------------------------*/
#reg_form {
    padding-top: 30px
}

#reg_form dl {
    width: 900px;
    float: left;
    padding-bottom: 40px
}

#reg_form dt {
    float: left;
    width: 230px;
    height: 40px;
    text-align: right;
    padding-top: 7px;
    font-weight: bold
}

#reg_form dd {
    width: 650px;
    height: 40px;
    float: right
}

#reg_form dd input[type=text] {
    width: 230px;
    height: 30px
}

#reg_form dd input[type=password] {
    width: 230px;
    height: 30px
}

#reg_form dd select {
    width: 230px;
    height: 30px
}

#div500 {
    margin: 0 auto;
    width: 440px;
    padding: 30px 30px 20px;
    line-height: 1.6em;
    height: 300px
}

#div700 {
    margin: 0 auto;
    width: 640px;
    padding: 30px 30px 20px;
    line-height: 1.6em
}

#div900 {
    margin: 0 auto;
    width: 900px;
    padding: 30px 30px 20px;
    line-height: 1.6em
}

#div900_left {
    float: left;
    width: 150px;
    min-height: 300px;
    padding-top: 30px;
    overflow: hidden
}

#div900_left ul {
    float: right;
    width: 150px;
    padding-bottom: 20px
}

#div900_left ul>li {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px
}

#div900_left ul li a {
    font-weight: 400;
    font-size: 12px
}

#div900_right {
    padding-top: 30px;
    float: right;
    width: 660px;
    overflow: hidden
}

#div700 a,
#div900 a {
    font-weight: 700;
    text-decoration: underline
}

.layout1_left {
    width: 200px;
    min-height: 300px;
    float: left;
    position: absolute;
    z-index: 999;
}

.layout1_right {
    width: 100%;
    padding-left: 200px;
    min-height: 300px;
    float: left;
    position: relative;
    z-index: 1;
}

.red {
    color: #F00;
    font-size: 11px;
}

#div_left {
    float: left;
    width: 150px;
    min-height: 300px;
    padding-top: 30px;
    overflow: hidden
}

#div_left ul {
    float: right;
    width: 150px;
    padding-bottom: 20px
}

#div_left ul>li {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px
}

#div_left ul li a {
    font-weight: 400;
    font-size: 12px
}

#div_right {
    padding-top: 30px;
    overflow: hidden;
    margin-left: 20px;
}

#div_right h1 {
    font-size: 14px;
    font-weight: bold;
}

#div_right h3 {
    font-weight: bold;
}

#profile_form {
    padding-top: 30px
}

#profile_form dl {
    float: left;
    padding-bottom: 40px
}

#profile_form dt {
    float: left;
    width: 170px;
    height: 40px;
    text-align: right;
    font-weight: bold
}

#profile_form dd {
    padding-left: 200px;
    height: 40px
}

#profile_form dd input[type=text] {
    width: 230px;
    height: 30px
}

#hr_form {
    padding-top: 30px
}

#hr_form dl {
    float: left;
    padding-bottom: 40px
}

#hr_form dt {
    float: left;
    width: 170px;
    height: 40px;
    text-align: right;
    font-weight: bold
}

#hr_form dd {
    padding-left: 200px;
    height: 40px
}

#hr_form dd input[type=text] {
    width: 230px;
    height: 30px
}

#vert_form dt {
    padding: 5px;
    font-weight: 700;
    margin-top: 10px
}

#vert_form input[type=text],
#non_serial input[type=text] {
    width: 350px;
    height: 35px
}

.btn {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #efefef));
    background: -moz-linear-gradient(center top, #ffffff 5%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    background-color: #ededed;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 0;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    font-family: arial;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    height: 35px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px
}

.btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #ffffff 5%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    background-color: #dfdfdf
}

.btn:active {
    position: relative;
    top: 1px
}

.btn {
    width: 230px;
}

#top_btn_right {
    float: left;
    padding-left: 400px;
}

#my_product {
    width: 100%;
    margin-top: 10px;
    min-height: 600px
}

#my_product li {
    width: 100%;
    height: 220px;
    background: url(../images/my_product_bg.jpg) bottom no-repeat;
    margin-top: 30px
}

.my_product_left {
    padding-top: 20px;
    float: left;
    width: 180px;
    text-align: center
}

.my_product_right {
    text-align: left;
    float: left;
    width: 600px
}

.my_product_right h3 {
    font-weight: 700;
    padding-bottom: 10px
}

.my_product_right dl {
    height: 100px
}

.my_product_right dt {
    float: left;
    width: 150px;
    padding: 6px 0;
    color: #999
}

.my_product_right dd {
    float: right;
    width: 450px;
    padding: 6px 0
}

.my_product_right dd a {
    text-decoration: underline
}

#footer {
    position: relative;
    margin-top: -40px;
    height: 40px;
    clear: both;
    bottom: 0;
    width: 100%;
    background: #E8E8E8
}

#footer_1k {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

#footer_1k div {
    position: relative;
    float: left;
    margin-top: 12px
}

/*----------------data Table GridView Css----------------------*/
.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px;
    border: solid 1px #525252;
    border-collapse: collapse
}

.mGrid td {
    padding: 4px;
    border: solid 1px #c1c1c1;
    color: #717171
}

.mGrid th {
    padding: 8px 4px;
    color: #fff;
    background: #424242 url(../images/grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: .9em
}

.mGrid .alt {
    background: #fcfcfc url(../images/grd_alt.png) repeat-x top
}

.mGrid .pgr {
    background: #424242 url(../images/grd_pgr.png) repeat-x top
}

.mGrid .pgr table {
    margin: 5px 0
}

.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: 700;
    color: #fff;
    line-height: 12px
}

.mGrid .pgr a {
    color: #666;
    text-decoration: none
}

.mGrid .pgr a:hover {
    color: #000;
    text-decoration: none
}

.mGrid input[type=button] {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #efefef));
    background: -moz-linear-gradient(center top, #ffffff 5%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    background-color: #ededed;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 0;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    font-family: arial;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    height: 25px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    padding: 0 10px
}

.mGrid input[type=button]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #efefef), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #ffffff 5%, #efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef');
    background-color: #dfdfdf
}

.mGrid input[type=button]:active {
    position: relative;
    top: 1px
}

/*----------------data Table GridView Css----------------------*/